.body{
  max-width: 1280px;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
}

.area{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-size: cover;
}

.area1{
  position: relative;
  padding: 0px;
  margin: 0px;
  outline: 0px solid red;
  top: 0px;
  width: 960px;
  height: 250px;
  color: white;
}

.title1{
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 200px;
  left: 200px;
  top: -50px;
}

.title2{
  position: absolute;
  width: 700px;
  padding: 0px;
  margin: 0px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 100px;
  left: 300px;
  top: 120px;
}


.img img{
  position: absolute;
  left: 960px;
  top: 10px;
  width: 530px;
  height: 680px;
  overflow: hidden;
  text-align:  center;
}

.area2{
  width: 960px;
  outline: 0px solid red;
}

.btn{
  font-family: 'Noto Sans TC', sans-serif;
  display: inline-block;
  width: calc(100%/4.5);
  height: 200px;
  padding: 0px;
  margin: 10px;
  overflow: hidden;
  background-color: #333333;
  outline: 0px solid red;
  position: relative;
}

.btn img{
  position: absolute;
  height: 100%;
  margin-left: 0px;
  opacity: 0.5;
  transform: translate3d(-50px,0,0);
  transition: all 0.35s;

}

.btn .title{
    font-size: 30px;
    position: absolute;
    color: #fff;
    bottom: 0px;
    right: 10px;
    transition: all 0.35s;
    transition-delay: 0.5s;
}

.btn .prs{
    font-size: 40px;
    position: absolute;
    color: #fff;
    bottom: -80px;
    right: 5px;
    transition: all 0.35s;
    transition-delay: 0.5s;
}

.btn:hover img{
  margin-left: -180px;
  transform: translate3d(0px,0,0);
    opacity: 1;

}
.btn:hover .title{
  bottom: 50px;
  right: 10px;
  transition: all 0.35s;
  transition-delay: 0s;

}
.btn:hover .prs{
  bottom: 0px;
  right: 5px;
  transition: all 0.35s;
  transition-delay: 0s;

}

.btn li{
  list-style-type: none;
  text-align: center;
  padding: 8px 5px;
  margin: 0;
  background-color: #e06767;
}